.button {
    background-color: #EBD8FF;
    border-radius: 10px;
    width: 196px;
    height: 50px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
    border: none;
    box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.active {
    background-color: #5CD3A8;
}